h1 {
    color: red;
}

h2 {
    color: blue;
}

p {
    font-size: 30px;
    font-weight: bold;
    background-color: red;
}

#souligner {
    text-decoration: underline;
}

ol {
    font-style: italic;
}

ul {
    font-style: italic;
}